
body
{
margin:0px;
padding:0px;
background-image:url("./bg.jpg");
background-position:bottom;
}

h1
{
font-family:Bold;
}

p
{
font-family:Regular;
font-size:20px;
}

.titre
{
padding-top:30vh;
}

.haut
{
background-color:#262626;
padding:5%;
}

.propos
{
padding-top:2%;
}

.message
{
color:white;
}

.imgright
{
display:flex;
justify-content:flex-end;
}

.image
{
display:flex;
}

/* de gauche a droite*/
.content
{
opacity:0;
-webkit-transition-property: width,margin-left;
-webkit-transition-duration: 5s;
transition-property: width,margin-left;
transition-duration: 5s;
}

.nomprojet:hover .image
{
opacity:1;
width:50%;
margin-left:50%;
-webkit-transition-property: width,margin-left;
-webkit-transition-duration: 5s;
transition-property: width,margin-left;
transition-duration: 5s;
}

.nomprojet:hover .content
{
opacity:1;
margin-left:5%;
-webkit-transition-property: width,margin-left;
-webkit-transition-duration: 5s;
transition-property: width,margin-left;
transition-duration: 5s;
}

/* de droite a gauche*/
.content2
{
opacity:0;
-webkit-transition-property: width,margin-right;
-webkit-transition-duration: 5s;
transition-property: width,margin-right;
transition-duration: 5s;
}

.nomprojetright:hover .imgright
{
opacity:1;
width:-50%;
margin-right:50%;
-webkit-transition-property: width,margin-right;
-webkit-transition-duration: 5s;
transition-property: width,margin-right;
transition-duration: 5s;
animation-direction: reverse;
}

.nomprojetright:hover .content2
{
opacity:1;
margin-right:5%;
-webkit-transition-property: width,margin-right;
-webkit-transition-duration: 5s;
transition-property: width,margin-right;
transition-duration: 5s;
}

.galerie
{
color:white;
}

.bouton
{
padding-left:88%;
padding-top:5%;
padding-bottom:2%;
}

.temps
{
padding-top:4%;
}

@font-face 
	{
    font-family: "Regular";
    src: url("fonts/Beaufort-Regular.ttf");
	}
@font-face 
	{
    font-family: "Bold";
    src: url("fonts/Beaufort-Bold.ttf");
	}
@font-face 
	{
    font-family: "Italic";
    src: url("fonts/Beaufort-Italic.ttf");
